fastapi
uvicorn[standard]
websockets
python-dotenv
sqlalchemy
psycopg2-binary
email-validator
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
google-genai
openai
python-multipart
google-auth
requests
pytest>=8.0,<10.0